/* Fonts:
   https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
   ========================================================================== */


@font-face {
  font-family: "Gilroy" ;
  src: url('../fonts/gilroyextrabold.woff');
  src: url('../fonts/gilroyextrabold.woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy' ;
  src: url('../fonts/gilroylight.woff');
  src: url('../fonts/gilroylight.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans' ;
  src: url('../fonts/opensans.woff');
  src: url('../fonts/opensans.woff2');
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans" ;
  src: url('../fonts/opensanslight.woff');
  src: url('../fonts/opensanslight.woff2');
  font-weight: 300;
}