.breadcrumbs {
    display: flex;
    &__item {
        padding-right: 40px;
        position: relative;
        &:last-child {
            padding-right: 0;
            &::before {
                display: none;
            }
        }
        &::before {
            content: '\203a';
            position: absolute;
            top: 0;
            right: 15px;
        }
    }
    &__link {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 14px;
        letter-spacing: .14px;
        color: $t-black;
        opacity: .3;
        &:hover {
            opacity: .6;
            transition: .2s;
        }
        &:active {
            opacity: .1;
        }
    }
}