.contact {
  width: 560px;
  padding: 50px 0 80px 0;
  position: relative;
  &::before {
    content: "";
    width: 80px;
    height: 7px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__title {
    margin-bottom: 40px;
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 47px;
    line-height: 47px;
    letter-spacing: 0.47px;
  }
  &__text {
    margin-bottom: 30px;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: $t-grey;
  }
  &__map_small {
    width: 560px;
    height: 220px;
    margin-bottom: 70px;
    position: relative;
    &-iframe {
      position: absolute;
      z-index: -1;
    }
  }
  &__map_big {
    position: absolute;
    top: -52px;
    left: -500px;
    &-wrap {
      width: 960px;
      height: 560px;
      position: relative;
    }
    &-btn-close {
      position: absolute;
      top: 0;
      left: 960px;
      z-index: 3;
    }
  }
  &__btn {
    width: 260px;
  }
  &__window-message {
    position: absolute;
    top: 0;
    left: -500px;
  }
}
