.header {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 20px 0 20px;
  &__wrapper {
    padding: 50px 60px 0 60px;
    background-color: $c-yellow;
    position: relative;
  }
  &__logo {
    position: absolute;
    top: -24px;
    left: 60px;
    
  }
  &__wrap {
    padding-bottom: 46px;
    display: flex;
    &_big-indent-bottom {
      padding-bottom: 160px;
    }
  }
  &__user-nav {
    width: 500px;
  }
  &__catalog-product {
    margin-right: auto;
  }
  &__site-nav {
    width: 500px;
  }
  
}
