.slide {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;

    &__wrap-btn {
        position: absolute;
        top: 200px;
        left: 1000px;
        z-index: 2;
    }
    &__btn-switch {
        width: 12px;
        height: 12px;
        margin-right: 20px;
        background: none;
        border: 1px solid #000;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        &:last-child {
            margin-right: 0;
        }
        &_selected {
            &::before {
                content: "";
                width: 6px;
                height: 6px;
                border: 1px solid #000;
                border-radius: 50%;
                position: absolute;
                top: 2px;
                left: 2px;
            }
        }
    }
    &__box {
        padding-left: 600px;
        padding-right: 60px;
        position: relative;
        &::before {
            content: "";
            width: 100px;
            height: 7px;
            background: #fff;
            position: absolute;
            top: -74px;
            left: 600px;
        }
    }
    &__img {
        position: absolute;
        &-1 {
            top: -111px;
            left: 90px;
        }
        &-2 {
            top: -100px;
            left: 116px;
        }
        &-3 {
            top: -46px;
            left: 30px;
        }
        
    }
    &__title {
        margin-bottom: 20px;
        font-family: 'Gilroy';
        font-weight: 800;
        font-size: 47px;
        letter-spacing: .47px;
        position: absolute;
        top: -34px;
        left: 600px;
        z-index: 1;
    }
    &__number {
        font-family: 'Gilroy';
        font-weight: 800;
        font-size: 179px;
        line-height: 179px;
        letter-spacing: 1.79px;
        color: #fff;
        position: absolute;
        top: -122px;
        right: 50px;
    }
    &__text {
        margin-bottom: 30px;
        padding-top: 100px;
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: .15px;
        color: $t-grey;
    }
    &__btn {
        width: 220px;
        margin-bottom: 50px;
    }
    &__description {
        margin-bottom: 115px;
    }
    &-description {
        display: flex;
        &__item {
            margin-right: 60px;
            display: flex;
            flex-flow: column;
            &:last-child {
                margin-right: 0;
            }
        }
        &__text {
            margin-bottom: 10px;
            font-family: 'Gilroy';
            font-weight: 300;
            font-size: 36px;
            letter-spacing: .36px;
            &-small {
                font-family: 'Open Sans';
                font-weight: 300;
                font-size: 13px;
                letter-spacing: .13px;
                color: $t-grey;
            }
        }
    }
}