.user-nav {
  display: flex;
  &__item {
    margin-right: 40px;
    padding-left: 25px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    &_big-indent {
      margin-right: auto;
    }
  }
  &__name {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.15px;
  }
  &__link {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.15px;
    color: $t-black;
    &_white {
      color: #fff;
    }
    &:hover {
      opacity: 0.6;
      transition: 0.2s;
    }
    &:hover + .user-nav__icon {
      opacity: 0.6;
      transition: 0.2s;
    }
    &:active {
      opacity: 0.3;
    }
    &:active + .user-nav__icon {
      opacity: 0.3;
    }
  }
  &__icon {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 0;
    &_yellow {
      fill: $c-yellow-bright;
    }
  }
}
