<% var data = {
  title: "device-catalog",
  author: ""
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<section class="catalog">
  <h1 class="catalog__title">Моноподы для селфи</h1>
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">Главная</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">Каталог товаров</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">Моноподы для селфи</a>
    </li>
  </ul>
  <div class="catalog__wrap">
    <div class="catalog__box">
      <div class="filter">
        <h2 class="filter__title">Фильтр:</h2>
        <form class="filter__form" action="#">
          <div class="filter__box">
            <h3 class="filter__subtitle">Стоимость</h3>
            <div class="filter__block">
              <input class="filter__input-price " type="text" placeholder="от 0">
              <input class="filter__input-price " type="text" placeholder="до 5000">
            </div>
          </div> <!-- /.filter__box -->
          <div class="filter__box">
            <h3 class="filter__subtitle">Цвет</h3>

            <input class="" id="checkbox-color-black" type="checkbox" name="checkbox-color" value="color-black" checked>
            <label class="filter__checkbox-label" for="checkbox-color-black">Черный</label>
            <input class="" id="checkbox-color-white" type="checkbox" name="checkbox-color" value="color-white">
            <label class="filter__checkbox-label" for="checkbox-color-white">Белый</label>
            <input class="" id="checkbox-color-blue" type="checkbox" name="checkbox-color" value="color-blue" checked>
            <label class="filter__checkbox-label" for="checkbox-color-blue">Синий</label>
            <input class="" id="checkbox-color-red" type="checkbox" name="checkbox-color" value="color-red" checked>
            <label class="filter__checkbox-label" for="checkbox-color-red">Красный</label>
            <input class="" id="checkbox-color-pink" type="checkbox" name="checkbox-color" value="color-pink">
            <label class="filter__checkbox-label" for="checkbox-color-pink">Розовый</label>
          </div> <!-- /.filter__box -->
          <div class="filter__box">
            <h3 class="filter__subtitle">Bluetooth</h3>
            <input class="" id="radio-bluetooth-yes" type="radio" name="radio-bluetooth" value="bluetooth-yes" checked>
            <label class="filter__radio-bluetooth" for="radio-bluetooth-yes">Есть</label>
            <input class="" id="radio-bluetooth-not" type="radio" name="radio-bluetooth" value="bluetooth-not">
            <label class="filter__radio-bluetooth" for="radio-bluetooth-not">Нет</label>
          </div> <!-- /.filter__box -->
          <button class="filter__btn" type="submit">Показать</button>
        </form>
      </div> <!-- /.filter -->
    </div> <!-- /.catalog__box -->
    <div class="catalog__box">
      <div class="sorting"> 
        <h2 class="sorting__title">Сортировка:</h2>
        <button class="sorting__btn">По цене</button>
        <button class="sorting__btn">По типу</button>
        <button class="sorting__btn">По популярности</button>
        <button class="sorting__btn-arrow"></button>
        <button class="sorting__btn-arrow"></button>
      </div> <!--/sorting-->

      <div class="product">
        <div class="product__item">
          <img class="product__img" src="" alt="">
          <div class="product__box-flex">
            <p class="product__text"></p>
            <p class="product__price"></p>
          </div>
          <div class="product__box-hidden">
            <button class="product__btn btn">в корзину</button>
            <button class="product__btn-comparison">Добавить к сравнению</button>
          </div>
        </div>
      </div> <!-- /.product -->

      <div class="pagination"> 
        <a class="pagination__link" href="#">Назад</a>
        <div class="pagination__box-flex">
          <a class="pagination__lenk-number" href="#">1</a>
          <a class="pagination__lenk-number" href="#">2</a>
          <a class="pagination__lenk-number" href="#">3</a>
        </div>
        <a class="pagination__link" href="#">Вперед</a>
      </div> <!--/pagination-->
      
    </div> <!-- /.catalog__box -->
  </div> <!-- /.catalog__wrap -->
</section> <!--/catalog-->

<%= _.template(require('./../includes/footer.html').default)(data) %>