<% var data = {
  title: "device-catalog",
  author: ""
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="catalog">
  <h1 class="catalog__title">Моноподы для селфи</h1>
  <ul class="catalog__breadcrumbs breadcrumbs">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="index.html">Главная</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">Каталог товаров</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">Моноподы для селфи</a>
    </li>
  </ul>

  <div class="catalog__wrap-line">

    <div class="catalog__wrap">

      <div class="catalog__box_grey">
        <div class="catalog__filter filter">
          <h2 class="filter__title filter__title_grey">Фильтр:</h2>
          <form class="filter__form" action="#">
            <div class="filter__box">
              <h3 class="filter__subtitle">Стоимость</h3>
              <div class="filter__range">
                <div class="filter__range-between"></div>
                <span class="filter__range-btn"></span>
                <span class="filter__range-btn"></span>
              </div>
              <div class="filter__block-flex">
                <label class="filter__label-price" for="filter__label-price-start">от
                  <input class="filter__input-price" id="filter-price-start" type="number" value="0" min="0"
                    max="50000">
                </label>
                <label class="filter__label-price" for="filter__label-price-end">до
                  <input class="filter__input-price" id="filter-price-end" type="number" value="35000" min="0"
                    max="50000">
                </label>
              </div>
            </div> <!-- /.filter__box -->
            <div class="filter__box">
              <h3 class="filter__subtitle">Цвет</h3>

              <input class="filter__checkbox-color none" id="checkbox-color-black" type="checkbox" name="checkbox-color"
                value="color-black" checked>
              <label class="filter__label filter__label-checkbox" for="checkbox-color-black">Черный</label>
              <input class="filter__checkbox-color none" id="checkbox-color-white" type="checkbox" name="checkbox-color"
                value="color-white">
              <label class="filter__label filter__label-checkbox" for="checkbox-color-white">Белый</label>
              <input class="filter__checkbox-color none" id="checkbox-color-blue" type="checkbox" name="checkbox-color"
                value="color-blue" checked>
              <label class="filter__label filter__label-checkbox" for="checkbox-color-blue">Синий</label>
              <input class="filter__checkbox-color none" id="checkbox-color-red" type="checkbox" name="checkbox-color"
                value="color-red" checked>
              <label class="filter__label filter__label-checkbox" for="checkbox-color-red">Красный</label>
              <input class="filter__checkbox-color none" id="checkbox-color-pink" type="checkbox" name="checkbox-color"
                value="color-pink">
              <label class="filter__label filter__label-checkbox" for="checkbox-color-pink">Розовый</label>
            </div> <!-- /.filter__box -->
            <div class="filter__box">
              <h3 class="filter__subtitle">Bluetooth</h3>
              <input class="filter__radio-bluetooth none" id="radio-bluetooth-yes" type="radio" name="radio-bluetooth"
                value="bluetooth-yes" checked>
              <label class="filter__label filter__label-radio" for="radio-bluetooth-yes">Есть</label>
              <input class="filter__radio-bluetooth none" id="radio-bluetooth-not" type="radio" name="radio-bluetooth"
                value="bluetooth-not">
              <label class="filter__label filter__label-radio" for="radio-bluetooth-not">Нет</label>
            </div> <!-- /.filter__box -->
            <button class="filter__btn btn" type="submit">Показать</button>
          </form>
        </div> <!-- /.filter -->
      </div> <!-- /.catalog__box -->

      <div class="catalog__box">
        <div class="sorting">
          <h2 class="sorting__title">Сортировка:</h2>
          <button class="sorting__btn sorting__btn_selected">По цене</button>
          <button class="sorting__btn">По типу</button>
          <button class="sorting__btn">По популярности</button>
          <div class="sorting__wrap-btn">
            <button class="sorting__btn-arrow sorting__btn-arrow_selected sorting__btn-arrow_up"></button>
            <button class="sorting__btn-arrow sorting__btn-arrow_down"></button>
          </div>
        </div>
        <!--/sorting-->

        <div class="product">

          <div class="product__item">
            <div class="product__box-img">
              <img class="product__img" src="img/item-1.jpg" alt="">
              <div class="product__box-hidden">
                <button class="product__btn btn">в корзину</button>
                <button class="product__btn-comparison">Добавить к сравнению</button>
              </div>
            </div>
            <div class="product__box-flex">
              <p class="product__text">Любительская селфи-палка</p>
              <p class="product__price">500 руб.</p>
            </div>

          </div>
          <!--/.product__item-->

          <div class="product__item">
            <div class="product__box-img">
              <img class="product__img" src="img/item-2.jpg" alt="">
              <div class="product__box-hidden">
                <button class="product__btn btn">в корзину</button>
                <button class="product__btn-comparison">Добавить к сравнению</button>
              </div>
            </div>
            <div class="product__box-flex">
              <p class="product__text">Профессиональная<br> селфи-палка</p>
              <p class="product__price">1500 руб.</p>
            </div>

          </div>
          <!--/.product__item-->

          <div class="product__item">
            <div class="product__box-img">
              <img class="product__img" src="img/item-3.jpg" alt="">
              <div class="product__box-hidden">
                <button class="product__btn btn">в корзину</button>
                <button class="product__btn-comparison">Добавить к сравнению</button>
              </div>
            </div>
            <div class="product__box-flex">
              <p class="product__text">Непотопляемая селфи-палка</p>
              <p class="product__price">2500 руб.</p>
            </div>

          </div>
          <!--/.product__item-->

          <div class="product__item">
            <div class="product__box-img product__box-img-new">
              <img class="product__img" src="img/item-4.jpg" alt="">
              <div class="product__box-hidden">
                <button class="product__btn btn">в корзину</button>
                <button class="product__btn-comparison">Добавить к сравнению</button>
              </div>
            </div>
            <div class="product__box-flex">
              <p class="product__text">Cелфи-палка &#171;Следуй за мной&#187;</p>
              <p class="product__price">4900 руб.</p>
            </div>

          </div>
          <!--/.product__item-->


        </div> <!-- /.product -->

        <div class="pagination">
          <a class="pagination__link" href="#">Назад</a>
          <div class="pagination__box-flex">
            <a class="pagination__link-number pagination__link-number_selected" href="#">1</a>
            <a class="pagination__link-number" href="#">2</a>
            <a class="pagination__link-number" href="#">3</a>
          </div>
          <a class="pagination__link" href="#">Вперед</a>
        </div>
        <!--/pagination-->

      </div> <!-- /.catalog__box -->
    </div> <!-- /.catalog__wrap -->
  </div>
  <!--/catalog__wrap-line-->
</section>
<!--/catalog-->

<%= _.template(require('./../includes/footer.html').default)(data) %>