<% var data = {
  title: "device",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<section class="slide">
  <div class="slide__wrap-btn">
    <button class="slide__btn-switch slide__btn-switch_selected" type="button"></button>
    <button class="slide__btn-switch" type="button"></button>
    <button class="slide__btn-switch" type="button"></button>
  </div> <!-- /slide__wrap-btn -->

  <div class="slide__box ">
    <img class="slide__img slide__img-1" src="img/slider-1.png" alt="">
    <h2 class="slide__title">Делай селфи,<br> как Бен Стиллер!</h2>
    <span class="slide__number">01</span>
    <p class="slide__text">Самая длинная палка для селфи доступна в нашем магазине.
      Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.</p>
    <a class="slide__btn btn" href="#">Подробнее</a>
    <ul class="slide__description slide-description">
      <li class="slide-description__item">
        <p class="slide-description__text">8,5 м</p>
        <p class="slide-description__text-small">Длина палки</p>
      </li>
      <li class="slide-description__item">
        <p class="slide-description__text">5 кг</p>
        <p class="slide-description__text-small">Вес палки</p>
      </li>
      <li class="slide-description__item">
        <p class="slide-description__text">Карбон</p>
        <p class="slide-description__text-small">Материал</p>
      </li>
    </ul>
  </div> <!-- /.slide__box -->

  <div class="slide__box none">
    <img class="slide__img slide__img-2" src="img/slider-2.png" alt="">
    <h2 class="slide__title">Худеем<br> правильно!</h2>
    <span class="slide__number">02</span>
    <p class="slide__text">Мотивирующие фитнес-браслеты помогут найти в себе силы
      не пропускать занятия и соблюдать диету.</p>
    <a class="slide__btn btn" href="#">Подробнее</a>
    <ul class="slide__description slide-description">
      <li class="slide-description__item">
        <p class="slide-description__text">48 часов</p>
        <p class="slide-description__text-small">Без подзарядки</p>
      </li>
    </ul>
  </div> <!-- /.slide__box -->

  <div class="slide__box none">
    <img class="slide__img slide__img-3" src="img/slider-3.png" alt="">
    <h2 class="slide__title">Порхает как бабачка, жалит как пчела!</h2>
    <span class="slide__number">03</span>
    <p class="slide__text">Этот обычный, на первый взгляд, квадрокоптер оснащен
      мощным лазером, замаскированным под стандартную камеру.</p>
    <a class="slide__btn btn" href="#">Подробнее</a>
    <ul class="slide__description slide-description">
      <li class="slide-description__item">
        <p class="slide-description__text">800 м</p>
        <p class="slide-description__text-small">Дальность полета</p>
      </li>
      <li class="slide-description__item">
        <p class="slide-description__text">50 м</p>
        <p class="slide-description__text-small">Радиус поражения</p>
      </li>
    </ul>
  </div> <!-- /.slide__box -->
</section>
<!--/slide-->

<section class="popular-product">
  <ul class="popular-product__list">
    <li class="popular-product__item">
      <a class="popular-product__link" href="#">
        <div class="popular-product__wrap-img">
          <img class="popular-product__img" src="img/popular-1.png" alt="">
        </div>
        <p class="popular-product__text">Виртуальная реальность</p>
      </a>
    </li>
    <li class="popular-product__item">
      <a class="popular-product__link" href="catalog.html">
        <div class="popular-product__wrap-img">
          <img class="popular-product__img" src="img/popular-2.png" alt="">
        </div>
        <p class="popular-product__text">Моноподы для селфи</p>
      </a>
    </li>
    <li class="popular-product__item">
      <a class="popular-product__link" href="#">
        <div class="popular-product__wrap-img">
          <img class="popular-product__img" src="img/popular-3.png" alt="">
        </div>
        <p class="popular-product__text">Экшн-камеры</p>
      </a>
    </li>
    <li class="popular-product__item">
      <a class="popular-product__link" href="#">
        <div class="popular-product__wrap-img">
          <img class="popular-product__img" src="img/popular-4.png" alt="">
        </div>
        <p class="popular-product__text">Фитнес-браслеты</p>
      </a>
    </li>
    <li class="popular-product__item">
      <a class="popular-product__link" href="#">
        <div class="popular-product__wrap-img">
          <img class="popular-product__img" src="img/popular-5.png" alt="">
        </div>
        <p class="popular-product__text">Умные часы</p>
      </a>
    </li>
    <li class="popular-product__item">
      <a class="popular-product__link" href="#">
        <div class="popular-product__wrap-img">
          <img class="popular-product__img" src="img/popular-6.png" alt="">
        </div>
        <p class="popular-product__text">Квадрокоптеры</p>
      </a>
    </li>
  </ul>
</section>
<!--/popular-product-->

<section class="services">
  <div class="services__wrapper">
    <div class="services__wrap-btn">
      <button class="services__btn services__btn_selected" type="button">Доставка</button>
      <button class="services__btn" type="button">Гарантия</button>
      <button class="services__btn" type="button">Кредит</button>
    </div>
    <div class="services__box services__box-delivery ">
      <h3 class="services__title">Доставка</h3>
      <p class="services__text">Мы с удовольствием доставим ваш товар прямо к вашему подъезду совершенно бесплатно!
        Ведь мы неплохо заработаем, поднимая его на ваш этаж.</p>
    </div> <!-- /.services__box -->

    <div class="services__box services__box-guarantee none">
      <h3 class="services__title">Гарантия</h3>
      <p class="services__text">Если из-за возгорания купленного у нас товара у вас сгорит дом — не переживайте, мы
        выдадим вам новый.
        Товар, не дом, конечно же</p>
    </div> <!-- /.services__box -->

    <div class="services__box services__box-credit none">
      <h3 class="services__title">Кредит</h3>
      <p class="services__text">Залезть в долговую яму стало проще! Кредитные консультанты подберут для вас наиболее
        выгодные условия кредита. Выгодные для нашего банка, разумеется.</p>
    </div> <!-- /.services__box -->

  </div> <!-- /.services__wrapper -->
</section>
<!--/services-->

<section class="partners-logo">
  <ul class="partners-logo__list">
    <li class="partners-logo__item">
      <a class="partners-logo__link" href="#">
        <img class="partners-logo__img" src="img/logo-dj.jpg" alt="">
      </a>
    </li>
    <li class="partners-logo__item">
      <a class="partners-logo__link" href="#">
        <img class="partners-logo__img" src="img/logo-spGADGETS.jpg" alt="">
      </a>
    </li>
    <li class="partners-logo__item">
      <a class="partners-logo__link" href="#">
        <img class="partners-logo__img" src="img/logo-GoPro.jpg" alt="">
      </a>
    </li>
    <li class="partners-logo__item">
      <a class="partners-logo__link" href="#">
        <img class="partners-logo__img" src="img/logo-vive.jpg" alt="">
      </a>
    </li>
  </ul>
</section>
<!--/partners-logo-->

<div class="wrapper-flex">

  <section class="info">
    <h2 class="info__title">О нас</h2>
    <p class="info__text">Огромный выбор гаджетов не оставит равнодушным гика, который есть в каждом из нас.</p>
    <p class="info__text">Мы можем доставить ваш товар в самые отдаленные точки России! DEVICE работает со многими
      транспортными компаниями:</p>
    <ul class="info__list-transport-companies">
      <li class="info__item-transport-companies">Деловые Линии</li>
      <li class="info__item-transport-companies">Автотрейдинг</li>
      <li class="info__item-transport-companies">ЖелДорЭкспедиция</li>
    </ul>
    <button class="info__btn btn">Подробнее о нас</button>
  </section>
  <!---/info-->

  <section class="contact">
    <h2 class="contact__title">Контакты</h2>
    <p class="contact__text">Вы можете забрать товар сами, заехав в наш офис.
      Заодно, вы сможете проверить работоспособность покупки. Всякое бывает.
    </p>
    <div class="contact__map_small">
        <iframe src="https://yandex.ru/map-widget/v1/-/CCQpIXSRpB" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
    </div>
    <div class="contact__map_big none">
      <iframe src="https://yandex.ru/map-widget/v1/-/CCQpIXSRpB" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
    </div>
    <button class="contact__btn btn">Напишите нам</button>
  </section>
  <!--/contact-->

</div> <!-- /.wrapper -->

<%= _.template(require('./../includes/footer.html').default)(data) %>